name: Building and deploying wisecow app

on:
  push:
     branches: [ "main" ]

  workflow_dispatch:
    
permissions:
    content: true    

jobs:
    build:
        runs-on: ubuntu-latest
        
        steps:
        - uses: actions/checkout@v3

        


        - name: Login to Docker Hub
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}
          
        - name: Setup Docker Buildx
          uses: docker/setup-buildx-action@v3
          
          
        - name: Build and push docker image
          run: |
            docker buildx build \
            --platform linux/amd64 \
            -t soham444/wisecow:latest \
            --push \
            .  

