name: CI/CD Kind Deployment

on:
  push:
    branches:
      - main
  workflow_dispatch:    

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build Docker image
      run: |
        docker build -t soham444/wisecow:latest .

    - name: Install Kind manually
      run: |
        curl -Lo ./kind https://kind.sigs.k8s.io/dl/v0.20.0/kind-linux-amd64
        chmod +x ./kind
        sudo mv ./kind /usr/local/bin/kind

    - name: Create Kind cluster
      run: kind create cluster --name kind --config kind-config.yaml
         
      

    - name: Load Docker image into Kind
      run: kind load docker-image soham444/wisecow:latest --name kind

    - name: Install kubectl
      uses: azure/setup-kubectl@v3
      with:
        version: v1.30.0

    - name: Apply Kubernetes manifests
      run: kubectl apply -f k8s/manifests/

    - name: Verify Deployment
      run: kubectl wait --for=condition=ready pod --all --timeout=120s


    - name: Test Wisecow service inside cluster
      run: |
        kubectl run curlpod --rm -i --tty --image=curlimages/curl --restart=Never -- \
        curl --insecure https://wisecow:443
            